<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\ElibPublish</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/Antlr3.Runtime.dll">
      <publishTime>09/06/2012 06:38:00</publishTime>
    </File>
    <File Include="bin/Calabonga.Mvc.PagedListExt.dll">
      <publishTime>11/05/2012 22:21:24</publishTime>
    </File>
    <File Include="bin/DataAnnotationsExtensions.ClientValidation.dll">
      <publishTime>11/05/2012 22:53:37</publishTime>
    </File>
    <File Include="bin/DataAnnotationsExtensions.dll">
      <publishTime>11/05/2012 22:53:28</publishTime>
    </File>
    <File Include="bin/eLibrary.DAL.dll">
      <publishTime>12/16/2012 19:52:46</publishTime>
    </File>
    <File Include="bin/eLibrary.dll">
      <publishTime>12/17/2012 13:31:14</publishTime>
    </File>
    <File Include="bin/eLibrary.Model.dll">
      <publishTime>12/16/2012 19:52:44</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>08/03/2012 20:04:00</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>09/06/2012 06:37:48</publishTime>
    </File>
    <File Include="bin/MvcMembership.dll">
      <publishTime>11/05/2012 22:04:28</publishTime>
    </File>
    <File Include="bin/MvcMembership.xml">
      <publishTime>11/05/2012 22:04:28</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>09/06/2012 06:37:49</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>09/06/2012 06:37:50</publishTime>
    </File>
    <File Include="bin/PagedList.dll">
      <publishTime>11/05/2012 22:01:00</publishTime>
    </File>
    <File Include="bin/PagedList.Mvc.dll">
      <publishTime>11/05/2012 22:01:00</publishTime>
    </File>
    <File Include="bin/PagedList.Mvc.xml">
      <publishTime>11/05/2012 22:01:00</publishTime>
    </File>
    <File Include="bin/PagedList.xml">
      <publishTime>11/05/2012 22:01:00</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>09/06/2012 06:37:54</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>09/06/2012 06:37:54</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>09/06/2012 06:37:54</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>09/06/2012 06:37:54</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>09/06/2012 06:37:54</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>09/06/2012 06:37:54</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>09/06/2012 06:37:51</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>09/06/2012 06:37:51</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>09/06/2012 06:37:55</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>09/06/2012 06:37:56</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>09/06/2012 06:37:56</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>09/06/2012 06:37:55</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>09/06/2012 06:37:53</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>09/06/2012 06:37:53</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>09/06/2012 06:37:59</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>09/06/2012 06:37:57</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>09/06/2012 06:37:50</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>09/06/2012 06:37:50</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>09/06/2012 06:37:51</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>09/06/2012 06:37:51</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>09/06/2012 06:37:51</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>09/06/2012 06:37:51</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>09/06/2012 06:37:51</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>09/06/2012 06:37:51</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>11/05/2012 22:53:37</publishTime>
    </File>
    <File Include="bin/WebGrease.dll">
      <publishTime>09/06/2012 06:38:00</publishTime>
    </File>
    <File Include="Content/bootstrap-responsive.css">
      <publishTime>12/07/2012 00:03:53</publishTime>
    </File>
    <File Include="Content/bootstrap-responsive.min.css">
      <publishTime>12/07/2012 00:03:53</publishTime>
    </File>
    <File Include="Content/bootstrap.css">
      <publishTime>12/07/2012 00:03:53</publishTime>
    </File>
    <File Include="Content/bootstrap.min.css">
      <publishTime>12/07/2012 00:03:53</publishTime>
    </File>
    <File Include="Content/jquery.countdown.css">
      <publishTime>11/08/2012 17:28:43</publishTime>
    </File>
    <File Include="Content/page.css">
      <publishTime>12/06/2012 23:56:43</publishTime>
    </File>
    <File Include="Content/PagedList.css">
      <publishTime>11/05/2012 22:01:03</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>12/12/2012 07:46:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Default.aspx">
      <publishTime>12/17/2012 07:42:36</publishTime>
    </File>
    <File Include="favicon.ico">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/accent.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/aspNetHome.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/bullet.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/facebook.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/findHosting.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/heroAccent.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/NuGetGallery.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/orderedList0.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/orderedList1.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/orderedList2.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/orderedList3.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/orderedList4.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/orderedList5.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/orderedList6.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/orderedList7.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/orderedList8.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/orderedList9.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/twitter.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Images/windowsLive.png">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>11/05/2012 22:53:42</publishTime>
    </File>
    <File Include="Scripts/bootstrap.js">
      <publishTime>12/07/2012 00:08:00</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.js">
      <publishTime>09/06/2012 06:37:40</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.min.js">
      <publishTime>09/06/2012 06:37:40</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.js">
      <publishTime>12/06/2012 19:44:20</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <publishTime>09/06/2012 06:37:45</publishTime>
    </File>
    <File Include="Scripts/jquery.countdown.js">
      <publishTime>11/08/2012 17:16:22</publishTime>
    </File>
    <File Include="Scripts/jquery.filedrop.js">
      <publishTime>12/06/2012 14:23:17</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>09/06/2012 06:37:48</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>09/06/2012 06:37:48</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>12/08/2012 21:19:00</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>09/06/2012 06:37:41</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>09/06/2012 06:37:47</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>09/06/2012 06:37:46</publishTime>
    </File>
    <File Include="Scripts/jquery.webcam.js">
      <publishTime>10/25/2012 19:38:13</publishTime>
    </File>
    <File Include="Scripts/jscam_canvas_only.swf">
      <publishTime>10/25/2012 19:38:13</publishTime>
    </File>
    <File Include="Scripts/knockout-2.0.0.debug.js">
      <publishTime>09/06/2012 06:38:01</publishTime>
    </File>
    <File Include="Scripts/knockout-2.0.0.js">
      <publishTime>09/06/2012 06:38:01</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>09/06/2012 06:37:48</publishTime>
    </File>
    <File Include="Scripts/_references.js">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Views/Account/ChangePassword.cshtml">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Views/Account/ChangePasswordSuccess.cshtml">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Views/Account/Login.cshtml">
      <publishTime>12/12/2012 13:12:12</publishTime>
    </File>
    <File Include="Views/Account/Register.cshtml">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Views/Book/Create.cshtml">
      <publishTime>12/09/2012 10:28:08</publishTime>
    </File>
    <File Include="Views/Book/Create2.cshtml">
      <publishTime>12/13/2012 08:10:08</publishTime>
    </File>
    <File Include="Views/Book/Delete.cshtml">
      <publishTime>12/11/2012 20:01:50</publishTime>
    </File>
    <File Include="Views/Book/Details.cshtml">
      <publishTime>12/13/2012 08:45:08</publishTime>
    </File>
    <File Include="Views/Book/Edit.cshtml">
      <publishTime>12/13/2012 09:04:43</publishTime>
    </File>
    <File Include="Views/Book/Index.cshtml">
      <publishTime>12/12/2012 13:07:12</publishTime>
    </File>
    <File Include="Views/Book/Index2.cshtml">
      <publishTime>12/13/2012 09:05:09</publishTime>
    </File>
    <File Include="Views/BorrowedItem/Create.cshtml">
      <publishTime>12/09/2012 12:47:51</publishTime>
    </File>
    <File Include="Views/BorrowedItem/Details.cshtml">
      <publishTime>12/09/2012 09:38:46</publishTime>
    </File>
    <File Include="Views/BorrowedItem/Index.cshtml">
      <publishTime>12/10/2012 20:36:11</publishTime>
    </File>
    <File Include="Views/BorrowedItem/Index2.cshtml">
      <publishTime>12/13/2012 11:21:56</publishTime>
    </File>
    <File Include="Views/Chapter/Details.cshtml">
      <publishTime>09/21/2012 19:11:52</publishTime>
    </File>
    <File Include="Views/Chapter/Index.cshtml">
      <publishTime>12/12/2012 12:48:39</publishTime>
    </File>
    <File Include="Views/Chapter/_IndexPartial.cshtml">
      <publishTime>09/21/2012 21:49:52</publishTime>
    </File>
    <File Include="Views/Column/Create.cshtml">
      <publishTime>12/04/2012 03:14:27</publishTime>
    </File>
    <File Include="Views/Column/Delete.cshtml">
      <publishTime>12/11/2012 19:47:05</publishTime>
    </File>
    <File Include="Views/Column/Details.cshtml">
      <publishTime>12/02/2012 07:41:39</publishTime>
    </File>
    <File Include="Views/Column/Edit.cshtml">
      <publishTime>12/02/2012 07:42:22</publishTime>
    </File>
    <File Include="Views/Column/Index.cshtml">
      <publishTime>12/02/2012 07:41:08</publishTime>
    </File>
    <File Include="Views/Course/CoursPartial.cshtml">
      <publishTime>09/14/2012 15:10:27</publishTime>
    </File>
    <File Include="Views/Course/Index.cshtml">
      <publishTime>09/13/2012 19:18:38</publishTime>
    </File>
    <File Include="Views/Course/_CreatePartial.cshtml">
      <publishTime>09/17/2012 00:00:51</publishTime>
    </File>
    <File Include="Views/Exam/Delete.cshtml">
      <publishTime>11/03/2012 10:36:08</publishTime>
    </File>
    <File Include="Views/Exam/Details.cshtml">
      <publishTime>12/12/2012 11:40:39</publishTime>
    </File>
    <File Include="Views/Exam/Edit.cshtml">
      <publishTime>12/12/2012 11:39:10</publishTime>
    </File>
    <File Include="Views/Exam/Grade.cshtml">
      <publishTime>12/12/2012 12:00:52</publishTime>
    </File>
    <File Include="Views/Exam/Index.cshtml">
      <publishTime>12/12/2012 11:54:54</publishTime>
    </File>
    <File Include="Views/Exam/index2.cshtml">
      <publishTime>12/12/2012 08:21:04</publishTime>
    </File>
    <File Include="Views/Exam/_Create.cshtml">
      <publishTime>12/12/2012 11:34:01</publishTime>
    </File>
    <File Include="Views/Exam/__choice.cshtml">
      <publishTime>09/25/2012 16:47:26</publishTime>
    </File>
    <File Include="Views/Exam/__question.cshtml">
      <publishTime>11/04/2012 17:12:14</publishTime>
    </File>
    <File Include="Views/Home/About.cshtml">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Views/Home/Contact.cshtml">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>12/17/2012 13:21:49</publishTime>
    </File>
    <File Include="Views/LibraryUser/Details.cshtml">
      <publishTime>12/16/2012 00:41:57</publishTime>
    </File>
    <File Include="Views/LibraryUser/Edit.cshtml">
      <publishTime>12/15/2012 01:58:49</publishTime>
    </File>
    <File Include="Views/MyRole/Edit.cshtml">
      <publishTime>12/12/2012 12:04:02</publishTime>
    </File>
    <File Include="Views/Photo/Create.cshtml">
      <publishTime>12/07/2012 00:20:53</publishTime>
    </File>
    <File Include="Views/Question/Create.cshtml">
      <publishTime>10/29/2012 18:04:43</publishTime>
    </File>
    <File Include="Views/Question/Create2.cshtml">
      <publishTime>11/06/2012 08:47:28</publishTime>
    </File>
    <File Include="Views/Question/Edit.cshtml">
      <publishTime>12/14/2012 00:48:09</publishTime>
    </File>
    <File Include="Views/ReadContent/Index.cshtml">
      <publishTime>12/12/2012 12:10:06</publishTime>
    </File>
    <File Include="Views/Row/Create.cshtml">
      <publishTime>12/03/2012 22:15:52</publishTime>
    </File>
    <File Include="Views/Row/Delete.cshtml">
      <publishTime>12/11/2012 19:46:06</publishTime>
    </File>
    <File Include="Views/Row/Details.cshtml">
      <publishTime>12/11/2012 19:44:19</publishTime>
    </File>
    <File Include="Views/Row/Edit.cshtml">
      <publishTime>12/03/2012 21:44:58</publishTime>
    </File>
    <File Include="Views/Row/Index.cshtml">
      <publishTime>12/03/2012 21:48:59</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Choices.cshtml">
      <publishTime>10/31/2012 22:40:41</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>12/17/2012 13:17:54</publishTime>
    </File>
    <File Include="Views/Shared/_Layout6.cshtml">
      <publishTime>12/17/2012 13:18:39</publishTime>
    </File>
    <File Include="Views/Shared/_LayoutLogin.cshtml">
      <publishTime>12/17/2012 13:18:36</publishTime>
    </File>
    <File Include="Views/Shared/_LoginPartial.cshtml">
      <publishTime>09/23/2012 18:07:11</publishTime>
    </File>
    <File Include="Views/Shelf/Create.cshtml">
      <publishTime>12/03/2012 03:15:51</publishTime>
    </File>
    <File Include="Views/Shelf/Delete.cshtml">
      <publishTime>12/11/2012 20:16:12</publishTime>
    </File>
    <File Include="Views/Shelf/Details.cshtml">
      <publishTime>12/11/2012 19:12:40</publishTime>
    </File>
    <File Include="Views/Shelf/Edit.cshtml">
      <publishTime>12/03/2012 03:51:22</publishTime>
    </File>
    <File Include="Views/Shelf/Index.cshtml">
      <publishTime>12/04/2012 03:02:00</publishTime>
    </File>
    <File Include="Views/SubjectArea/Create.cshtml">
      <publishTime>12/08/2012 10:32:06</publishTime>
    </File>
    <File Include="Views/SubjectArea/Delete.cshtml">
      <publishTime>12/13/2012 06:58:51</publishTime>
    </File>
    <File Include="Views/SubjectArea/Details.cshtml">
      <publishTime>12/02/2012 07:47:54</publishTime>
    </File>
    <File Include="Views/SubjectArea/Edit.cshtml">
      <publishTime>12/02/2012 07:48:34</publishTime>
    </File>
    <File Include="Views/SubjectArea/Index.cshtml">
      <publishTime>12/13/2012 07:23:27</publishTime>
    </File>
    <File Include="Views/UploadAdditionalChapterMaterial/Create.cshtml">
      <publishTime>11/06/2012 09:00:48</publishTime>
    </File>
    <File Include="Views/UploadLessonNote/Create.cshtml">
      <publishTime>12/10/2012 09:26:02</publishTime>
    </File>
    <File Include="Views/UploadTextBook/Create.cshtml">
      <publishTime>12/14/2012 00:40:53</publishTime>
    </File>
    <File Include="Views/UserAdministration/CreateUser.cshtml">
      <publishTime>12/15/2012 01:40:54</publishTime>
    </File>
    <File Include="Views/UserAdministration/CreateUser2.cshtml">
      <publishTime>12/14/2012 10:04:31</publishTime>
    </File>
    <File Include="Views/UserAdministration/Details.cshtml">
      <publishTime>09/08/2012 21:29:15</publishTime>
    </File>
    <File Include="Views/UserAdministration/Index.cshtml">
      <publishTime>12/17/2012 13:22:19</publishTime>
    </File>
    <File Include="Views/UserAdministration/Index2.cshtml">
      <publishTime>12/17/2012 09:15:55</publishTime>
    </File>
    <File Include="Views/UserAdministration/Password.cshtml">
      <publishTime>09/08/2012 21:29:15</publishTime>
    </File>
    <File Include="Views/UserAdministration/Role.cshtml">
      <publishTime>09/08/2012 21:29:15</publishTime>
    </File>
    <File Include="Views/UserAdministration/UsersRoles.cshtml">
      <publishTime>09/08/2012 21:29:15</publishTime>
    </File>
    <File Include="Views/UserPhoto/Create.cshtml">
      <publishTime>12/15/2012 00:45:36</publishTime>
    </File>
    <File Include="Views/UserPhoto/Edit.cshtml">
      <publishTime>12/14/2012 01:29:38</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>12/16/2012 19:54:33</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>09/06/2012 06:37:20</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>12/17/2012 12:02:26</publishTime>
    </File>
  </ItemGroup>
</Project>